<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='i.png') }}">
</head>
<body>
    <header>
        <h1>Transaction History</h1>
    </header>
    <div class="container">
        <img src="{{ url_for('static', filename='atm.png') }}" alt="ATM">
        <div>
            <ul>
                {% for transaction in transactions %}
                    <li>{{ transaction }}</li>
                {% endfor %}
            </ul>
            <a href="/">Back to Home</a>
        </div>
    </div>
</body>
</html>
